li a {
    width: fit-content;
    height: var(--header-height);
    display: flex;
    align-items: center;
    font-size: var(--fs-navigation);
    font-weight: var(--regular-fw);
    color: var(--darkest-color);
    text-transform: capitalize;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: var(--primary-transition);
}

@media screen and (max-width: 48em) {
    li {
        width: 100%;
    }
    
    li a {
        height: fit-content;
        width: inherit;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: var(--semi-bold-fw);
    }
}

li a:hover, li a:focus {
    color: var(--primary-color);
}

li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    transition: var(--primary-transition);
}

@media screen and (max-width: 48em) {
    li a::before {
        width: 0;
    }
}

li a:hover::before, li a:focus::before {
    left: 0;
}