.container {
    width: 85%;
    height: inherit;
    max-width: var(--max-width);
    /* background-color: slateblue; */
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 60em) {
    .container {
        width: 100%;
        padding-inline: var(--neutral-padding);
    }
}

@media screen and (max-width: 48em) {
    .container {
        padding-inline: var(--fourth-padding);
    }
}

