/* css reset code  */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* responsive devices choosed 
  -sites: 1440px: 85%
  -mini-sites: 1280px: 85%
  -tablet: 768px: 100%
  -phone: 480px: 100%
  -mini-phones: 320px: 100%
*/

/* css variables  */
:root {
    /* colors  */
    --primary-color: #007BFF;
    --lightest-color: #FFFFFF;
    --darkest-color: #333333;

    --shadow-color: #33333345

    /* font family */
    --primary-ff: 'Kalam', cursive;
    --neutral-ff: 'Poppins', sans-serif;

    /* titles size  */
    --section-primary-title: 48px;

    --home-title: 48px;
    --home-p: 18px;

    --about-neutral-title: 40px;
    --about-p: 18px;

    --skills-title: 20px;


    /* texts size  */

    /* font weight  */
    --regular-fw: 400;
    --semi-bold-fw: 600;
    --bold-fw: 700;

    /* transitions */
    --primary-transition: .3s;

    /* border radius  */
    --br-value: 32px;
    --br-right: calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2) var(--br-value);
    --br-left: var(--br-value) calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2);
    --br-right-responsive: calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2) var(--br-value);
    --br-left-responsive: var(--br-value) calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2);
}

@media screen and (max-width: 90em) {
    :root {

    }
}

@media screen and (max-width: 80em) {
    :root {
    /* titles size  */
    --home-title: 40px;

    }
}

@media screen and (max-width: 60em) {
    :root {

    }
}

@media screen and (max-width: 48em) {
    :root {
        /* titles size  */
        --section-primary-title: 40px;

        --home-title: 32px;
        --home-p: 16px;

        --about-neutral-title: 24px;


        /* border radius  */
        --br-right-responsive: var(--br-value);
        --br-left-responsive: var(--br-value);
        
    }
}

@media screen and (max-width: 30em) {
    :root {
        
        /* titles size  */
        --section-primary-title: 32px;
        --home-title: 24px;

        --about-title: 16px;
        --about-neutral-title: 20px;

        --skills-title: 18px;
    }
}

@media screen and (max-width: 20em) {
    :root {
        /* titles size  */
        --section-primary-title: 24px;
        
        --home-title: 20px;
        --home-p: 14px;
        
        --about-title: 14px;

        --skills-title: 16px;
    }
}