/* css reset code  */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* responsive devices choosed 
  -sites: 1440px: 85%
  -mini-sites: 1280px: 85%
  -tablet: 768px: 100%
  -phone: 480px: 100%
  -mini-phones: 320px: 100%
*/

/* css variables  */
:root {
    /* colors  */
    --primary-color: #007BFF;
    --lightest-color: #FFFFFF;
    --darkest-color: #333333;

    --shadow-color: #33333345

    /* font family */
    --primary-ff: 'Kalam', cursive;
    --neutral-ff: 'Poppins', sans-serif;

    /* titles size  */
    --fs-navigation: 1.125rem;

    --fs-section-primary-title: 3rem;

    --fs-home-title: 3rem;
    --fs-home-p: 1.125rem;

    --fs-about-neutral-title: 2.5rem;
    --fs-about-p: 1.125rem;

    --fs-skills-title: 1.25rem;

    --fs-contact-label: 1.125rem;
    --fs-contact-placeholder: 1.25rem;
    --fs-contact-button: 1.25rem;

    --fs-project-card-title: 2rem;
    --fs-project-card-p: 1rem;
    --fs-project-card-button: 1.125rem;

    --fs-project-description-title: 1.25rem;

    --fs-footer-title: 1.5rem;
    --fs-footer-p: 1.125rem;

    /* font weight  */
    --regular-fw: 400;
    --semi-bold-fw: 600;
    --bold-fw: 700;

    /* transitions */
    --primary-transition: .3s;

    /* border radius  */
    --br-value: 32px;
    --br-right: calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2) var(--br-value);
    --br-left: var(--br-value) calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2);
    --br-right-responsive: calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2) var(--br-value);
    --br-left-responsive: var(--br-value) calc(var(--br-value) * 2) var(--br-value) calc(var(--br-value) * 2);

    /* distances userd  */
    --primary-dist: 100px;
    --neutral-dist: calc(var(--primary-dist) / 2);
    --third-dist: calc(var(--primary-dist) / 4);
    --fourth-dist: calc(var(--primary-dist) / 8);

    /* margins  */
    --primary-margin: var(--primary-dist);
    --neutral-margin: var(--neutral-dist);
    --third-margin: var(--third-dist);
    --fourth-margin: var(--fourth-dist);

    /* paddings  */
    --primary-paddings: var(--primary-dist);
    --neutral-paddings: var(--neutral-dist);
    --third-paddings: var(--third-dist);
    --fourth-paddings: var(--fourth-dist);

    /* gaps  */
    --primary-gap: var(--primary-dist);
    --neutral-gap: var(--neutral-dist);
    --third-gap: var(--third-dist);
    --fourth-gap: var(--fourth-dist);
}

@media screen and (max-width: 90em) {
    :root {

    }
}

@media screen and (max-width: 80em) {
    :root {
    /* titles size  */
    --fs-navigation: 1rem;

    --fs-home-title: 2.5rem;

    }
}

@media screen and (max-width: 60em) {
    :root {

    }
}

@media screen and (max-width: 48em) {
    :root {
        /* titles size  */
        --fs-section-primary-title: 2.5rem;

        --fs-home-title: 2rem;
        --fs-home-p: 1rem;

        --fs-about-neutral-title: 1.5rem;

        --fs-footer-title: 1.25rem;
        --fs-footer-p: 0.875rem;


        /* border radius  */
        --br-right-responsive: var(--br-value);
        --br-left-responsive: var(--br-value);
        
    }
}

@media screen and (max-width: 30em) {
    :root {
        
        /* titles size  */
        --fs-section-primary-title: 2rem;
        --fs-home-title: 1.5rem;

        --about-title: 1rem;
        --fs-about-neutral-title: 1.25rem;

        --fs-skills-title: 1.125rem;

        --fs-contact-label: 0.875rem;
        --fs-contact-placeholder: 1rem;
        --fs-contact-button: 1.125rem;

        --fs-project-card-title: 1.5rem;
        --fs-project-description-title: 1.125rem;

        --fs-footer-title: 1rem;
        --fs-footer-p: 0.75rem;
    }
}

@media screen and (max-width: 20em) {
    :root {
        /* titles size  */
        --fs-navigation: 0.875rem;

        --fs-section-primary-title: 1.5rem;
        
        --fs-home-title: 1.25rem;
        --fs-home-p: 0.875rem;
        
        --about-title: 0.875rem;

        --fs-skills-title: 1rem;

        --fs-contact-label: 0.75rem;
        --fs-contact-placeholder: 0.875rem;
        --fs-contact-button: 1rem;

        --fs-project-card-title: 1.5rem;
        --fs-project-card-p: 0.875rem;
        --fs-project-card-button: 1rem;

        --fs-project-description-title: 1rem;

        --fs-footer-title: 0.875rem;
        --fs-footer-p: 0.625rem;
    }
}

/* global rules  */
body {
    font-family: var(--neutral-ff);
}
